# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/typings

# compiled output
/dist
/tmp

# IDEs and editors
/.idea
/jsconfig.json

# misc
/libpeerconnection.log
/npm-debug.log
.DS_Store
