 <div class="container">
     
    <div [hidden]="submitted">
     <form (ngSubmit)="onSubmit()" #developeredit="ngForm">
     <article class="template animated slideInRight">
        <div *ngIf="developer">
            <h4>{{developer.firstName}} {{developer.lastName}}</h4>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="firstName">First Name</label>
      <input type="text" id="firstName" class="mdl-textfield__input" [(ngModel)]="developer.firstName" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="lastName">Last Name</label>
      <input type="text" id="lastName" class="mdl-textfield__input" [(ngModel)]="developer.lastName" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="eMail">E-Mail</label>
      <input type="text" id="eMail" class="mdl-textfield__input" [(ngModel)]="developer.eMail" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="gitID">Git ID</label>
      <input type="text" id="gitID" class="mdl-textfield__input" [(ngModel)]="developer.gitID" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="twitterID">Twitter ID</label>
      <input type="text" id="twitterID" class="mdl-textfield__input" [(ngModel)]="developer.twitterID" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="picUrl">Bio Pic Url</label>
      <input type="text" id="picUrl" class="mdl-textfield__input" [(ngModel)]="developer.picUrl" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="blogUrl">Blog Url</label>
      <input type="text" id="blogUrl" class="mdl-textfield__input" [(ngModel)]="developer.blogUrl" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="languages">Languages</label>
      <input type="text" id="languages" class="mdl-textfield__input" [(ngModel)]="developer.languages" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="locations">Locations</label>
      <input type="text" id="locations" class="mdl-textfield__input" [(ngModel)]="developer.locations" />
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows= "5" id="bio" [(ngModel)]="developer.bio"></textarea>
        <label class="mdl-textfield__label" for="sample5">Bio</label>
  </div>

  
  
  
  
    <div>        
      <button type="submit" class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
      mdl-button--accent" (click)="onSave(developer)" [disabled]="!developeredit.form.valid">Save</button>
      &nbsp;
      <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
      " (click)="onCancel(developer)">Cancel</button>
      &nbsp;
      <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="delete()">Delete</button>
    </div>

  </div>
</article>
</form>
 
     </div>
    
    <div [hidden]="!submitted">
        <p>you submitted somethan</p>
    </div>
 <div>