<div *ngIf="developer">
    <div class="container">
        <!-- HEADER -->
        <div id="header" class="row">
            <!-- picture -->
            <div class="col-sm-2">
                <img class="propic" src="{{developer.picUrl}}" alt="{{developer.lastName}}">
            </div>

            <!-- name and GDE badge -->
            <div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>{{developer.firstName}} {{developer.lastName}}</h1>
                        </div>
                    </div>
                    <h2 *ngIf="developer.isGDE">Angular Google Developer Expert</h2>
                </div>

                <!-- social links -->
                <div class="col-sm-1">
                    <ul class="list-unstyled">
                        <li *ngIf="developer.eMail"><a href="mailto:{{developer.eMail}}"><span class="social fa fa-envelope-o"></span></a>
                        </li>
                        <li *ngIf="developer.webpage"><a target="_blank" href={{developer.webpage}}><span class="social fa fa-home"></span></a>
                        </li>
                        <li><a target="_blank" href="http://www.github.com/{{developer.id}}"><span class="social fa fa-github"></span></a>
                        </li>
                        <li *ngIf="developer.twitterID"><a target="_blank" href="http://www.twitter.com/{{developer.twitterID}}"><span class="social fa fa-twitter"></span></a>
                        </li>
                        <li *ngIf="developer.linkedIn"><a target="_blank" href="http://www.linkedin.com/in/{{developer.linkedIn}}"><span class="social fa fa-linkedin"></span></a>
                        </li>
                    </ul>
                </div>

                <!-- biography -->
                <div class="row">
                    <div class="col-sm-10">
                        <p>{{developer.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- HEADER END-->

        <hr class="firsthr">

        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div class="col-md-8 mainleft">

            <!--icon: COMMUNITIES: this places the icon in the appropriate column only-->
            <div id="communities" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-users"></span>
                </div>
                <!--icon end-->

                <!--COMMUNITIES-->
                <div class="col-sm-11">
                    <h3>Communities</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <div *ngFor="#community of developer.communities">
                                <a href="{{community.url}}">{{community.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COMMUNITIES END-->

            <hr>

            <!--icon: EVENTS: this places the icon in the appropriate column only-->
            <div id="education" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-graduation-cap"></span>
                </div>
                <!--icon end-->

                <!--EVENTS-->
                <div class="col-sm-11">
                    <h3>Events & Conferences</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <div *ngFor="#event of developer.events">
                                <a href="{{event.url}}">{{event.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--EVENTS end-->

            <hr>

            <!--icon: MISSIONS: this places the icon in the appropriate column only-->
            <div id="job" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-space-shuttle"></span>
                </div>
                <!--icon end-->

                <!--MISSIONS-->
                <div class="col-sm-11">
                    <h3>Missions</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Each Mission Header</h4>
                            <p class="sub"><a href="">LinktoMission</a>
                            </p>
                            <p>{{developer.missions}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--MISSIONS end-->

        </div>
        <!--left end-->

        <!-- ===========================
        SIDEBAR
        =========================== -->
        <div class="col-md-4 mainright">
            <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-globe"></span>
                </div>
                <!--icon end-->

                <div class="col-sm-11 col-md-10">
                    <div class="col-sm-11 col-md-10 ">

                        <div class="award">
                            <h3>Locations</h3>
                            <div *ngFor='#location of developer.locations | values:"key":true'>
                                {{location}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
                        <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-language"></span>
                </div>
                <!--icon end-->

                <div class="col-sm-11 col-md-10">
                    <div class="col-sm-11 col-md-10 ">

                        <div class="award">
                            <h3>Languages</h3>
                            <div *ngFor='#language of developer.languages | values:"key":true'>
                                {{language}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row mobmid">
                <div class="col-sm-1 col-md-2">
                    <span class="secicon fa fa-trophy"></span>
                </div>
                <!--icon end-->

                <div class="col-sm-11 col-md-10 ">
                    <h3>Awards</h3>

                    <div class="award">
                        <h4>Mission Leader</h4>
                        <p>I did the most missions.</p>
                    </div>
                    <!--1st award end-->

                    <div class="award">
                        <h4>Most Answers</h4>
                        <p>I answered the most ?</p>
                    </div>
                    <!--1st award end-->
                </div>
                <!--awards end-->

            </div>

            <hr>

            <div class="row ">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-quote-left"></span>
                </div>
                <!--icon end-->

                <div class="col-sm-11 col-md-10 testimonials">
                    <h3 class="mobmid">Leaderboard </h3>

                    <div class="row">
                        <blockquote>
                            <p>showsomething</p>
                        </blockquote>
                    </div>
                    <!--1st testimonial end-->
                </div>
                <!--awards end-->
            </div>
            <!--tech skills end-->
        </div>
        <!--right end-->


    </div>
    <!--container end-->

    <!-- ===========================
    FOOTER
    =========================== -->
    <footer class="text-center">
        <button type="submit" class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        (click)="onEdit(developer)">Edit Developer</button>
        &nbsp;
        <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="gotoDevelopers()">Cancel</button>
    </footer>
    <div>
        <p></p>
    </div>

</div>