<div class="container">
  <div id="header" class="row">
    <button type="submit"
            class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            (click)="onNew()">Add New Community
    </button>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet"
         *ngFor="#community of communities$ | async">

      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <div [ngSwitch]="community.type">
            <template [ngSwitchWhen]="'chat'"><i class="material-icons">chat</i></template>
            <template [ngSwitchWhen]="'meetup'"><i class="material-icons">group</i></template>
            <template [ngSwitchWhen]="'other'"><i class="material-icons">hearing</i></template>
            <template ngSwitchDefault><i class="material-icons">bookmark</i></template>
          </div>
          <a href="{{community.url}}">{{community.name}}</a> {{community.location}}
        </div>
        <div *ngIf="community.contact">
          <div class=" mdl-card__actions mdl-card--border ">
            Organizer <br>
            <a href="mailto:{{community.contact.eMail}}"><span
                class="social fa fa-envelope-o"></span></a>{{community.contact.firstName}}
            {{community.contact.lastName}}
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          Community Members
          <div *ngFor="#member of community.members">
            <img src="{{member.picUrl}}" width="50" height="50" (click)="onSelect(member)">
          </div>
        </div>

        <div class="mdl-card__actions mdl-card--border ">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect "
             data-upgraded=",MaterialButton,MaterialRipple "
             (click)="onEdit(community) ">Edit</a>
        </div>
      </div>

      <div></div>
    </div>
  </div>
</div>