<div class="container">

    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #eventedit="ngForm">
            <article class="template animated slideInRight">
                <div *ngIf="event">
                    <h4>{{event.name}}</h4>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="name">Name</label>
                        <input type="text" id="name" class="mdl-textfield__input" [(ngModel)]="event.name" />
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="location">Location</label>
                        <input type="text" id="location" class="mdl-textfield__input" [(ngModel)]="event.location" />
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="date">Date</label>
                        <input type="text" id="date" class="mdl-textfield__input" [(ngModel)]="event.date" />
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="url">URL</label>
                        <input type="text" id="url" class="mdl-textfield__input" [(ngModel)]="event.url" />
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="speakers">Speakers</label>
                        <input type="text" id="speakers" class="mdl-textfield__input" [(ngModel)]="event.speakers" />
                    </div>
                </div>
                <div>
                    <button type="submit" class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
      mdl-button--accent" (click)="save.emit(event)" [disabled]="!eventedit.form.valid">Save</button>
                    &nbsp;
                    <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
      " (click)="onCancel()">Cancel</button>
                    &nbsp;
                    <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="delete()">Delete</button>
                </div>

    </article>
    </form>

</div>

<div [hidden]="!submitted">
    <p>you submitted somethan</p>
</div>
<div>