
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col " *ngFor="#event of events">                 



<div class="demo-card-event mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <div [ngSwitch]="event.type">
         <template [ngSwitchWhen]="'conference'"><i class="material-icons">school</i></template>
         <template [ngSwitchWhen]="'video'"><i class="material-icons">laptop</i></template>
         <template [ngSwitchWhen]="'meetup'"><i class="material-icons">group</i></template>
         <template ngSwitchDefault><i class="material-icons">bookmark</i></template>
     </div>
     <a href="{{event.url}}">{{event.name}}</a>
     {{event.location}}
  </div>
  
    <div class="mdl-card__actions mdl-card--border">
     
    <div  *ngFor="#speaker of event.eventSpeakers">
         <img src="./images/expertslogo.png"  width="50" height="50" (click)="onSpeakerSelect(speaker.gitID)" >      
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <i class="material-icons">event</i>{{event.date}}
  </div>
</div>

<div></div>  </div>  
